<%= form_with url:'/answers', method: :post do |f| %>
  <div class="h-full min-w-64 rounded-lg border border-indigo-600 border-opacity-50">
    <%= f.text_field :value, class:"min-h-96 rounded border-0  ocus:ring-indigo-600 p-2.5 focus:border-indigo-600 w-full dark:placeholder-gray-400 placeholder:-translate-y-40", placeholder: "Write the injustice..." %>
  </div>
  <%= f.hidden_field :question_id, value: @question.id %>
  <div class="text-center pt-4">
    <%= f.submit "Next", class: "w-64 h-[53px] bg-indigo-600 bg-opacity-80 rounded-[32px] shadow-xl text-white" %>
  </div>
<% end %>
