<%= form_with url:'/answers', method: :post do |f| %>
  <div class="w-full h-full rounded-[16px] border border-indigo-600 border-opacity-50">
    <%= f.text_field :value, rows: 4, class: "w-[300px] h-[256px] p-2 rounded-[32px] border-none focus:outline-none focus:border-indigo-600 focus:ring focus:ring-indigo-200", placeholder: "There is a broken signal on the street..." %>
  </div>
  <%= f.hidden_field :question_id, value: @question.id %>
  <div class="text-center pt-4">
    <%= f.submit "Next", class: "w-80 h-[53px] bg-indigo-600 bg-opacity-80 rounded-[32px] shadow-xl text-white" %>
  </div>
<% end %>
