<!-- Updated iframe code -->
<div class="mt-10 w-screen h-screen">
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FYMqRpPssqjCAiqcibb0Zgp%2FDashboard%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D1-2%26viewport%3D180%252C601%252C0.18%26t%3Dak1oTXDO5eH7a5vE-1%26scaling%3Dscale-down%26starting-point-node-id%3D1%253A2%26mode%3Ddesign" allowfullscreen></iframe>
</div>
