
<nav class="bg-white min-h-24">
  <div class="mx-auto px-16 pt-4">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="items-center flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-indigo-500 rounded-md px-3 py-2 text-4xl font-medium" aria-current="page">MOBILEE</a>
            <a href="/surveys/1" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">SURVEYS</a>
            <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">REPORT SYSTEM</a>
            <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">DATA ANALYSIS</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="/dashboard"class="bg-indigo-500 hover:from-indigo-500 hover:to-transparent text-white font-normal py-2 px-4 rounded">
        Test our product 
      </a>
      </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="text-indigo-500 rounded-md px-3 py-2 text-4xl font-medium" aria-current="page">MOBILEE</a>
      <a href="/surveys/1" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">SURVEYS</a>
      <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">REPORT SYSTEM</a>
      <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">DATA ANALYSIS</a>
    </div>
  </div>
</nav>
<div class="mt-10 w-screen h-screen">
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FYMqRpPssqjCAiqcibb0Zgp%2FDashboard%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D1-2%26viewport%3D180%252C601%252C0.18%26t%3Dak1oTXDO5eH7a5vE-1%26scaling%3Dmin-zoom%26starting-point-node-id%3D1%253A2%26mode%3Ddesign" allowfullscreen></iframe>
</div>
