<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-indigo-600/80
 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <hr class="my-6 border-white-300">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-bold text-white">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-950">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-white text-sm font-bold mb-2">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">About Us</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Blog</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://github.com/glankenau/mobilee">Github</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Free Products</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-white text-sm font-bold mb-2">Other Resources</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">MIT License</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Terms &amp; Conditions</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Privacy Policy</a>
              </li>
              <li>
                <a class="text-gray-950 hover:text-white font-normal block pb-2 text-sm" href="https://creative-tim.com/contact-us?ref=njs-profile">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-white-300">
    <span class="block text-gray-950 text-sm font-normal mb-2">* Our database contains information from the XXX Survey made by the German goverment every X years</span>
  </div>
</footer>