
<nav class="bg-white min-h-24">
  <div class="mx-auto px-16 pt-4">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="items-center flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-indigo-500 rounded-md px-3 py-2 text-4xl font-medium" aria-current="page">MOBILEE</a>
            <a href="/surveys/1" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">SURVEYS</a>
            <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">REPORT SYSTEM</a>
            <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">DATA ANALYSIS</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button class="bg-indigo-500 hover:from-indigo-500 hover:to-transparent text-white font-normal py-2 px-4 rounded">
        Test our product
      </button>
      </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="/" class="text-indigo-500 rounded-md px-3 py-2 text-4xl font-medium" aria-current="page">MOBILEE</a>
      <a href="/surveys/1" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">SURVEYS</a>
      <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">REPORT SYSTEM</a>
      <a href="#" class="text-slate-950 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-base font-medium">DATA ANALYSIS</a>
    </div>
  </div>
</nav>

<div class="bg-gradient-to-b from-indigo-500/11 to-transparent bg-opacity-50 h-screen p-8 flex items-center justify-center">
  <div class="left-[248px] top-[220px] absolute text-center text-black text-[64px] font-bold font-['Inter']">We are solving the major <br/>mobility injustices in Germany</div>
  <div class="left-[433px] top-[628px] absolute text-center text-black text-[64px] font-bold font-['Inter']">How does it work?</div>
  <div class="left-[376px] top-[406px] absolute text-center text-black text-[32px] font-bold font-['Inter']">Our solution helps municipalities to find the <br/>most critical mobility problems in the region</div>
  <div class="w-80 h-12 left-[560px] top-[516px] absolute">
  <button class="w-80 h-12 left-0 top-0 absolute bg-indigo-600 rounded-lg">
    <div class="w-40 left-[80.52px] top-[9px] absolute text-white text-2xl font-medium font-['Inter']">Discover how</div>
  </button>
  </div>