<div class="bg-gradient-to-b from-indigo-600 to-gray-100 h-screen p-8 flex items-center justify-center">
  <div class="rounded-lg bg-white shadow p-8 flex flex-col justify-between h-[520px] w-80">
    <div class="text-center">
      <p class="text-indigo-600 text-base font-semibold font-['Inter']">THANKS FOR YOUR REPORT!</p>
    </div>
    <div class='items-center'>
      <%= image_tag('medal.svg', alt: 'Citizens report injustices', class: 'svg-icon') %>
    </div>
    <div class="text-center">
      <a class=" text-indigo-600  opacity-50 text-xs font-semibold font-['Inter']" href="/surveys/1">Start survey again</a>
    </div>
  </div>
</div>